@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
     font-family: 'Roboto', sans-serif;
     background-image: url("https://www.lanafaycatering.com/wp-content/uploads/2020/02/slider-1.jpg");
     background-size: cover;
     color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%
}

p {
    color: white;
}

nav {
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 30px;
    background: rgb(0, 0, 0);
    color: white;
}

footer {
     padding-top: 24px;
     padding-right: 0px;
     padding-bottom: 24px;
     padding-left: 30px;
     background: rgb(0, 0, 0);
     color: white;
}

main {
     padding: 16px;
     margin: 0;
     color: white;
     
}
a {
    text-decoration: none;
    color: rgb(182, 70, 62);
    font-weight: bold;
    font-size: 1em;
}

a:hover {
    text-decoration: none;
    color: inherit;
    background-color: green;
  }

h1 {
    color: rgb(255, 251, 0);
}

h2 {
    color: rgb(0, 124, 17)
}

#stars1 {
    color:rgb(255, 251, 0);
    font-weight: bold;
}

#stars2 {
    color: rgb(182, 70, 62);
    font-weight: bold;
}

.fit-picture {
    height: 200px;
    -webkit-filter: drop-shadow(2px 2px 0 rgb(0, 0, 0))
    drop-shadow(2px 2px 0 rgb(0, 0, 0));
    filter: drop-shadow(2px 2px 0 rgb(0, 0, 0)) 
    drop-shadow(5px 5px 0 rgb(0, 0, 0));
}

table tr:nth-child(even) {
    background-color: rgb(141, 48, 48);
}
